@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=SUSE:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Suse", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #2c3542;
  display: grid;
  place-items: center;
  overflow: hidden;
  perspective: 100rem;
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}